/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2016, 12:34:53
    Author     : CARLOS
*/

.changethisone span{
    background-color: #FFF;
}

.changethisone input{
    border-right-style:none;
}